<li class="gallery-item">
    <div class="photo-card">
        <img src="{{ webformatURL }}" alt="{{ tags }}" width="360px" height="240px"
            data-large-url="{{largeImageURL}}" />

        <div class="stats">
            <p class="stats-item">
                <i class="material-icons">thumb_up</i>
                <span class="stats-value">{{likes}}</span>
            </p>
            <p class="stats-item">
                <i class="material-icons">visibility</i>
                <span class="stats-value">{{views}}</span>
            </p>
            <p class="stats-item">
                <i class="material-icons">comment</i>
                <span class="stats-value">{{comments}}</span>
            </p>
            <p class="stats-item">
                <i class="material-icons">cloud_download</i>
                <span class="stats-value">{{downloads}}</span>
            </p>
        </div>
    </div>
</li>